@import "tailwindcss";

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

#sensay-chat-button {
  width: 48px;
  height: 48px;
}

.bg-dots {
  background-image: radial-gradient(circle, #d1d5db 1px, transparent 1px);
  background-size: 4px 4px;
}